$cardsBackground: #1a1a1a;
$detailsColor: #00adb5;
$secondaryColorsCard: #393e46;

::-webkit-scrollbar-track {
  background-color: $secondaryColorsCard;
  border-radius: 5px;
  margin-right: 15px;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;
  &:hover {
    background-color: #00adb5;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 150px;
  position: absolute;
  padding-bottom: 20px;
  @media (max-width: 1367px) {
    margin-top: 10px;
  }
}

.container-cards-top,
.container-cards-bottom {
  width: 100%;
  display: flex;
  // flex-wrap: wrap;
  padding: 0 20px;
  @media (max-width: 1367px) {
    flex-wrap: wrap;
  }
}

.container-cards-top {
  .card-top-notes {
    flex: 2;
    background-color: $cardsBackground;
    border-radius: 30px;
    margin-right: 30px;
    padding: 40px 0 0 40px;
    max-width: 62vw;
    .container-notes {
      margin-top: 25px;
      display: flex;
      align-items: center;
      max-width: 100%;
      overflow-x: scroll;
      padding: 10px 0 20px 0;
    }

    .notes-info {
      min-width: 270px;
      width: 270px;
      max-width: 270px;
      padding: 10px;
      background: rgba(255, 255, 255, 0.17);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(0, 173, 181, 0.5);
      border-radius: 5px;
      transition: all 0.3s;
      margin-right: 25px;
      cursor: pointer;
      &:hover {
        transform: translateY(-10px);
      }
      > h4 {
        text-align: center;
        color: white;
        font-weight: lighter;
        margin-bottom: 10px;
        font-size: 18px;
      }
      > P {
        color: rgb(214, 214, 214);
        font-weight: lighter;
        font-size: 14px;
        text-align: center;
        line-height: 1.6;
      }
    }

    .add-notes {
      min-width: 270px;
      width: 270px;
      max-width: 270px;
      margin-right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 5px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(3.9px);
      -webkit-backdrop-filter: blur(3.9px);
      border: 1px solid rgba(255, 255, 255, 0.26);
      padding: 7px 0;
      transition: all .3s;
      &:hover{
        transform: translateY(-10px);
      }
      cursor: pointer;
      > span {
        font-size: 48px;
        border-radius: 50%;
        padding: 5px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(3.9px);
        -webkit-backdrop-filter: blur(3.9px);
        border: 1px solid rgba(255, 255, 255, 0.26);
        border-radius: 50%;
        color: white;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: lighter;
      }
    }

    @media (max-width: 1367px) {
      width: 90%;
      flex: 0 1 auto;
      max-width: 1220px;
      margin: 0 auto 30px auto;
    }
  }

  .card-top-hours {
    flex: 1;
    background-color: $secondaryColorsCard;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;

    .hours-weather-app {
      width: 49%;
      margin: 20px 0;
      border-right: 1px solid $detailsColor;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      > h3 {
        color: white;
        font-weight: lighter;
        font-size: 20px;
        text-align: center;
        margin-bottom: 5px;
        width: 90%;
      }

      > p {
        color: white;
        font-size: 12px;
        font-weight: lighter;
        text-align: center;
      }

      .temp {
        font-weight: bold;
        text-align: center;
        font-size: 64px;
        font-weight: lighter;
        color: white;
        width: 90%;
        margin-top: 10px;
      }

      .weahter-app-cards {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 20px;

        > div {
          background-color: $cardsBackground;
          color: white;
          font-size: 10px;
          border-radius: 30px;
          text-align: center;
          box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.5);
          span {
            display: block;
            padding: 5px;
          }

          img {
            width: 40px;
          }
        }
      }
    }

    @media (max-width: 1367px) {
      flex: 0 1 auto;
      max-width: 1220px;
      margin: 0 auto 30px auto;
      width: 90%;
    }

    @media (max-width: 768px) {
      flex-wrap: wrap;

      .hours-hours-app {
        width: 100%;
      }

      .hours-weather-app {
        width: 100% !important;
        border-bottom: 1px solid $detailsColor;
        border-right: none !important;
        padding-bottom: 10px;
      }
    }
  }

  .hours-hours-app {
    width: 49%;
    display: flex;
    align-items: center;
    justify-content: center;
    > h2 {
      font-weight: lighter;
      font-size: 64px;
      color: white;
    }
  }
}

.container-cards-bottom {
  margin-top: 50px;

  .card-bottom-advices {
    background-color: $secondaryColorsCard;
    border-radius: 30px;
    padding: 40px 40px 5px 40px;
    flex: 1;
    margin-right: 20px;
    @media (max-width: 1367px) {
      flex: 0 1 auto;
      max-width: 1220px;
      margin: 30px auto 0px auto;
      width: 90%;
      order: 2;
    }

    .citation {
      text-align: center;
      font-size: 20px;
      font-style: italic;
      color: white;
      font-weight: lighter;
    }

    .author {
      margin-top: 35px;
      font-size: 20px;
      font-style: italic;
      color: white;
      font-weight: lighter;
    }
  }

  .card-bottom-tasks {
    flex: 2;
    padding: 40px 0 0 40px;
    background-color: $cardsBackground;
    border-radius: 30px;
    @media (max-width: 1367px) {
      flex: 0 1 auto;
      max-width: 1220px;
      margin: 30px auto 0px auto;
      width: 90%;
      order: 1;
    }
  }
}

.title-cards {
  color: white;
  font-size: 24px;
  text-transform: uppercase;

  &::after {
    content: ">";
    margin-left: 5px;
    color: $detailsColor;
  }
}
