<div class="container">
  <section class="container-cards-top">
    <article class="card-top-notes">
      <h1 class="title-cards">Notes</h1>
      <div class="container-notes">
        <!-- <article class="notes-info">
          <h4>Titulo da nota</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever si
          </p>
        </article>-->
        <article class="notes-info" *ngFor="let note of allNotes" (click)="readNotes(note.nameTask, note.email, note.id, note.descriptionNote, note.date)">
          <h4>{{note.nameTask}}</h4>
          <p>
           {{note.descriptionNote}}
          </p>
        </article>
        <article class="container-notes"></article>
        <div class="add-notes" (click)="createNewNotes()">
          <span>+</span>
        </div>
      </div>
    </article>
    <article class="card-top-hours">
      <div class="hours-weather-app">
        <h3>Taboão da Serra</h3>
        <p>Seg - 06/08/2022</p>
        <h2 class="temp">22º</h2>
        <div class="weahter-app-cards">
          <div>
            <span>33º</span>
            <img
              src="../../../../assets/img/sunIcon.png"
              alt="Previsão de Sol"
            />
            <span>Ter</span>
          </div>
          <div>
            <span>33º</span>
            <img
              src="../../../../assets/img/sunIcon.png"
              alt="Previsão de Sol"
            />
            <span>Ter</span>
          </div>
          <div>
            <span>33º</span>
            <img
              src="../../../../assets/img/sunIcon.png"
              alt="Previsão de Sol"
            />
            <span>Ter</span>
          </div>
        </div>
      </div>
      <div class="hours-hours-app">
        <h2>22:00</h2>
      </div>
    </article>
  </section>
  <section class="container-cards-bottom">
    <article class="card-bottom-advices">
      <p class="citation">
       `{{phraseEmotional}}`
      </p>
    </article>
    <article class="card-bottom-tasks">
      <h1 class="title-cards">Tarefas</h1>
    </article>
  </section>
</div>
