<div class="container">
  <section class="container-cards-top">
    <article class="card-top-notes">
      <h1 class="title-cards">Notes</h1>
      <div class="container-notes">
        <article class="notes-info" *ngFor="let note of allNotes" (click)="readNotes(note.nameTask, note.email, note.id, note.descriptionNote, note.date)">
          <h4>{{note.nameTask}}</h4>
          <p>
           {{note.descriptionNote}}
          </p>
        </article>
        <article class="container-notes"></article>
        <div class="add-notes" (click)="createNewNotes()">
          <span>+</span>
        </div>
      </div>
    </article>
    <article class="card-top-hours">
      <div class="hours-weather-app">
        <h3>{{locationUser}}</h3>
        <p>{{day}} - {{date}}</p>
        <h2 class="temp">{{actualTemp}}º</h2>
        <div class="weahter-app-cards">
          <div>
            <img src="../../../../assets/img/sunIcon.png" alt="Sol" *ngIf="actualTemp >= 20">
            <img src="../../../../assets/img/snow.png" alt="Frio" *ngIf="actualTemp < 20">
          </div>
        </div>
      </div>
      <div class="hours-hours-app">
        <h2>{{hours}}</h2>
      </div>
    </article>
  </section>
  <section class="container-cards-bottom">
    <article class="card-bottom-advices">
      <p class="citation">
       ` {{phraseEmotional}} `
      </p>
    </article>
    <article class="card-bottom-tasks">
      <h1 class="title-cards">Tarefas</h1>
      <form [formGroup]="form" (ngSubmit)="handleSubmitTask()">
        <input type="text" placeholder="Adiciona uma tarefa" id="addTask" name="addTask" formControlName="addTask">
        <button type="submit" [disabled]="!form.valid">Criar Tarefa</button>
      </form>
      <ul *ngIf="allTasks.length > 0">
        <li *ngFor="let task of allTasks"> <input type="checkbox" (click)="deleteTask(task.idTask)">{{task.nameTask}}</li>
      </ul>
    </article>
  </section>
</div>
