<div class="container">
  <main class="container-login">
    <article class="container-login  animationLeft">
      <div class="login-img">
        <img src="../../../assets/img/logo.png" alt="Logo Notes">
      </div>
      <div class="login-form">
        <router-outlet></router-outlet>
      </div>
    </article>
  </main>
  <div class="container-bg">
    <div class="container-papers">
      <img src="../../../assets/img/NoteBlue.png" alt="Note Blue" class="noteBlue">
      <img src="../../../assets/img/NoteOrange.png" alt="Note NoteOrange" class="noteOrange">
      <img src="../../../assets/img/NotePurple.png" alt="Note NotePurple" class="notePurple">
      <img src="../../../assets/img/NoteRed.png" alt="Note NoteRed" class="noteRed">
      <img src="../../../assets/img/NoteYellow.png" alt="Note NoteYellow" class="noteYellow">
    </div>
  </div>
</div>

