<div class="container animationLeft">
  <h1 class="titleLogin">Esqueceu a senha?</h1>
  <form [formGroup]="form" (ngSubmit)="handleSubmit()">
    <label for="email" class="label-form">Email:</label>
    <input type="email" class="input-form" formControlName="email" name="email" id="email">

    <p class="error-form" *ngIf="form.get('email')?.errors?.['required'] && form.get('email')?.touched">
      Preencha um email
    </p>

    <p class="error-form" *ngIf="form.get('email')?.errors?.['email'] && form.get('email')?.dirty">
      Email inválido
    </p>

    <p class="error-form" *ngIf="errorRequest">
      Este email não está cadastrado no Notes
    </p>

    <p class="error-form" *ngIf="errorRequest === false" style="color: green">
      Email de recuperação enviado com sucesso!
    </p>

    <div class="titleLogin"></div>

    <button type="submit" class="primary-button" [disabled]="!form.valid">Reenviar senha</button>
  </form>
  <a routerLink="/login/sign" class="secondary-link">Voltar ao Login</a>
</div>
