<div class="container animationLeft">
  <h1 class="titleLogin">Login</h1>
  <form [formGroup]="form" (ngSubmit)="handleSubmit()">
    <label for="name" class="label-form">Email:</label>
    <input type="text" name="name" id="name" class="input-form" formControlName="name" (keyup)="removeError('email')"/>

    <p class="error-form" *ngIf="form.get('name')?.errors?.['required'] && form.get('name')?.touched">
      Preencha um email
    </p>

    <p class="error-form" *ngIf="errorEmail">
      Email inválido
    </p>

    <label for="password" class="label-form">Senha:</label>
    <input type="password" class="input-form" name="password" formControlName="password" (keyup)="removeError('password')"/>

    <p class="error-form" *ngIf="form.get('password')?.errors?.['required'] && form.get('password')?.touched">
      Preencha uma senha
    </p>

    <p class="error-form" *ngIf="errorPassword">
      Senha inválida
    </p>

    <div class="iconsLogin">
      <p (click)="signWithSocialMedia('facebook')"><img src="../../../../assets/img/facebookLogo.png" alt="Login Facebook"></p>
      <p (click)="signWithSocialMedia('google')"><img src="../../../../assets/img/googleLogo.png" alt="Login Google"></p>
    </div>

    <div class="titleLogin"></div>

    <button type="submit" class="primary-button" [disabled]="!form.valid">Entrar</button>

  </form>

  <a routerLink="/login/lost-password" class="primary-link"
    >Esqueceu a senha?</a
  >
  <a routerLink="/login/new-user" class="secondary-link">Realizar cadastro</a>
</div>
