<div class="container animationLeft">
  <h1 class="titleLogin">Login</h1>
  <form action="">
    <label for="name" class="label-form">Nome:</label>
    <input type="text" name="name" id="name" class="input-form" >
    <label for="password" class="label-form">Senha:</label>
    <input type="password" class="input-form" name="password">
    <div class="iconsLogin">
      <p (click)="signWithSocialMedia('facebook')"><img src="../../../../assets/img/facebookLogo.png" alt="Login Facebook"></p>
      <p (click)="signWithSocialMedia('google')"><img src="../../../../assets/img/googleLogo.png" alt="Login Google"></p>
    </div>
    <div class="titleLogin"></div>
    <button type="submit" class="primary-button">Entrar</button>
  </form>
  <a routerLink="/login/lost-password" class="primary-link"
    >Esqueceu a senha?</a
  >
  <a routerLink="/login/new-user" class="secondary-link">Realizar cadastro</a>
</div>
